{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [
      2,
      120
    ],
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx"]
    }],
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  }
}
